.recipe-container{
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 0 auto;
}

.recipe-container p{
    font-size: 2rem;
}

.recipe-container ul{
    list-style: disc;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* .image-container{
    
    width: 100%;
} */

.image-container img{
    max-height: 500px;
    max-width: 32rem;
}

table{
   border: 2px solid #9d2f2f;
   margin: 0 auto;
   width: 40%;
}

th{
    padding: 10px;
}

td{
    padding: 7px;
    
}